Vjezba 1/source.exe
vc140.pdb
Vjezba 2/file.txt
Vjezba 2/output.txt
Vjezba 2/source.exe
Vjezba 4/source.exe
Vjezba 4/brojevi.txt
Vjezba 5/source.exe
Vjezba 5/fak.txt
Vjezba 6/source.exe
Vjezba 7/izraz.txt
Vjezba 7/source.exe
Vjezba 9/source.exe
Vjezba 10/source.exe
Vjezba 10/izraz.txt
